﻿
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Confirm Delivery
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Delivery</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Trip Id</label>
                    <input id="tripId" type="text" class="form-control" required="required" name="tripId" />
                </div>
                <div class="form-group">
                    <label>Operator Id</label>
                    <input id="operatorId" type="text" class="form-control" required="required" name="tripId" />
                </div>
            </div>
            <div class="modal-footer">
                <button id="closeButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" onclick="onConfirmationSubmit()" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>