<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeliveryCompany</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DeliveryCompany</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="userComponent">
                            @await Component.InvokeAsync("UserComponent")
                        </li>
                        <li class="confButton">
                            @await Html.PartialAsync("_ConfirmationPartial.cshtml")
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a class="nav-link text-info" asp-area="" asp-controller="Address" asp-action="Index">Address</a>
                </li>
                <li>
                    <a class="nav-link text-info" asp-area="" asp-controller="Box" asp-action="Index">Box</a>
                </li>
                <li>
                    <a class="nav-link text-info" asp-area="" asp-controller="Client" asp-action="Index">Client</a>
                </li>
                <li>
                    <a class="nav-link text-info" asp-area="" asp-controller="Country" asp-action="Index">Country</a>
                </li>
                <li>
                    <a class="nav-link text-info" asp-area="" asp-controller="Department" asp-action="Index">Department</a>
                </li>
                <li>
                    <a class="nav-link text-info" asp-area="" asp-controller="Employee" asp-action="Index">Employee</a>
                </li>
                <li>
                    <a class="nav-link text-info" asp-area="" asp-controller="Position" asp-action="Index">Position</a>
                </li>
                <li>
                    <a class="nav-link text-info" asp-area="" asp-controller="Status" asp-action="Index">Status</a>
                </li>
                <li>
                    <a class="nav-link text-info" asp-area="" asp-controller="Trip" asp-action="Index">Trip</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <a href="#menu-toggle" class="btn btn-primary" onclick="toogleMenu(event)">Toggle Menu</a>
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - DeliveryCompany - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
